<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
  <head>
      <title>Salt-Strike</title>
  </head>
  <body>
    <header>
      <h1 layout:fragment="header">Minion list</h1>
    </header>

    <content>
      <div layout:fragment="content">
        <table>
          <tr>
            <th>
              Host
            </th>
            <th>
              Info
          </th>
          </tr>
          <tr th:each="entry: ${minions}">
            <td>
              <span th:text="${entry.key}"></span>
            </td>
            <td>
              <span th:text="${entry.value}"></span>
            </td>
          </tr>
        </table>
      </div>
    </content>

    <footer>
      <div layout:fragment="footer">
        <script src="/js/app.js"></script>
      </div>
    </footer>
  </body>
</html>
