<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Salt-Strike Run')"></head>
<body>
	<div th:replace="layout :: navbar('run')"></div>

	<!--div th:replace="layout :: header('Run Commands')"></div-->

	<div id="run-commands"></div>

	<script th:inline="javascript">

      /*<![CDATA[*/
         // pass data from java to javascript
         // var user = /*[[${test}]]*/ 'User Name';
       /*]]>*/
    </script>

	<div th:replace="layout:: footer"></div>
	<script src="/js/run.js"></script>
</body>
</html>
